<h2>Welcome</h2>
<p>Have Any Questions? checkout our 
<a href="/about" data-test-id ="about"> About Us</a> page! </p>

<p>Welcome to Meadowlark Travel! Please sign up to our
    newsletter usign either:
</p>
<ul>
    <li><a href="/newsletter-signup" data-test-id="newsletter-signup">Old school form submission</a></li>
   <li><a href="/newsletter">Async form Submission(recommended)</a></li>
</ul>


<p>Also, Please enter our Vacation Contest using either
   <ul>
    <li><a href="/contest/vacation-photo"> Old School form submission</a></li>
    <li><a href="/contest/vacation-photo-ajax">Async form Submission (recommend)</a></li>
   </ul>
</p>

{{> weather}}